@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor;

<h2>Flavor Info</h2>
<hr />
<h3>@Html.DisplayNameFor(m => m.FlavorName): @Html.DisplayFor(m => m.FlavorName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This flavor has no treats!</p>
}
else
{
  <h4>These treats are this flavor:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Treat.TreatName</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to flavors", "Index")</p>
<p>@Html.ActionLink("Edit flavor", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete flavor", "Delete", new { id = Model.FlavorId })</p>