@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h4>Add a new treaty</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.TreatName)
    @Html.TextBoxFor(model => model.TreatName)
    @Html.LabelFor(model => model.TreatDesc)
    @Html.TextBoxFor(model => model.TreatDesc)

    @Html.Label("Select flavor")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Add new item" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all treats", "Index")</p>